{
  "branches": [
    "stable",
    "+([0-9])?(.{+([0-9]),x}).x",
    {
      "name": "alpha",
      "prerelease": true
    },
    {
      "name": "beta",
      "prerelease": true
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    ["@semantic-release/changelog", {
      "changelogTitle": "# Changelog"
    }],
    "@semantic-release/git",
    ["@semantic-release/npm", {
      "npmPublish": false
    }],
    ["@semantic-release/github", {
      "assets": [
        {
          "path": "out/make/**/*.exe",
          "name": "App-${nextRelease.version}.exe"
        },
        {
          "path": "out/make/**/*.deb",
          "name": "App-${nextRelease.version}.deb"
        },
        {
          "path": "out/make/**/*.rpm",
          "name": "App-${nextRelease.version}.rpm"
        },
        {
          "path": "out/make/**/*.dmg",
          "name": "App-${nextRelease.version}.dmg"
        },
        {
          "path": "out/make/**/*.zip",
          "name": "App-${nextRelease.version}.zip"
        }
      ]
    }]
  ]
}