{
  "branches": [ "stable", "+([0-9])?(.{+([0-9]),x}).x" ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    ["@semantic-release/changelog", {
      "changelogTitle": "# Changelog"
    }],
    "@semantic-release/git",
    ["@semantic-release/npm", {
      "npmPublish": false
    }],
    ["@semantic-release/github", {
      "assets": [
        {
          "path": "out/make/**/*.exe",
          "name": "App-${nextRelease.gitTag}.exe"
        },
        {
          "path": "out/make/**/*.deb",
          "name": "App-${nextRelease.gitTag}.deb"
        },
        {
          "path": "out/make/**/*.rpm",
          "name": "App-${nextRelease.gitTag}.rpm"
        },
        {
          "path": "out/make/**/*.dmg",
          "name": "App-${nextRelease.gitTag}.dmg"
        },
        {
          "path": "out/make/**/*.zip",
          "name": "App-${nextRelease.gitTag}.zip"
        }
      ]
    }]
  ]
}