{
  "branches": [
    "stable",
    "+([0-9])?(.{+([0-9]),x}).x",
    {
      "name": "alpha",
      "prerelease": true
    },
    {
      "name": "beta",
      "prerelease": true
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    ["@semantic-release/changelog", {
      "changelogTitle": "# Changelog"
    }],
    ["@semantic-release/npm", {
      "npmPublish": false
    }],
    "@semantic-release/git",
    ["@semantic-release/github", {
      "assets": [
        {
          "path": "./out/binaries/*.exe",
          "name": "App-${nextRelease.version}.exe"
        },
        {
          "path": "./out/binaries/*.deb",
          "name": "App-${nextRelease.version}.deb"
        },
        {
          "path": "./out/binaries/*.rpm",
          "name": "App-${nextRelease.version}.rpm"
        },
        {
          "path": "./out/binaries/*.dmg",
          "name": "App-${nextRelease.version}.dmg"
        },
        {
          "path": "./out/binaries/*.zip",
          "name": "App-${nextRelease.version}.zip"
        },
        "path": "./out/binaries/SHA256SUMS?(.gpg)"
      ]
    }]
  ]
}